#mainPane {
    -fx-background-color: #2B2B2B;
}


#textBackground {
    -fx-background-color: #2B2B2B;
    -fx-border-color: #F9FAFB;
    -fx-opacity: 40%;
}

#nameBackground {
    -fx-background-color: #2B2B2B;
    -fx-border-color: #F9FAFB;
}

#textDisplay {
    -fx-text-alignment: inherit;
    -fx-text-fill: #F9FAFB;
    -fx-padding: 0 0 0 20px;
}

#nameDisplay {
    -fx-text-fill: #F9FAFB;
    -fx-padding: 0 0 0 20px;
}

Label {
    -fx-text-fill: #F9FAFB;
}
