#mainPane {
    -fx-background-color: #2B2B2B;
}

#menuBar {
    -fx-background-color: rgb(23, 104, 209);
}

#skillBar {
    -fx-background-color: rgb(222, 56, 59);
}

Label {
    -fx-text-fill: #F9FAFB;
}
