.text-field.error {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}

#errorLabel {
    -fx-text-fill: red;
}

Button, TextField {
    -fx-background-color: #2B2B2B;
    -fx-text-fill: #F9FAFB;
    -fx-border-color: #F9FAFB;
}

